* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bdc3c7;
    font-family: Raleway;
    font-weight: 300;
    font-size: 15px;
}

.container {
    width: 400px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #34495e;
    text-align: center;
}

/*----- BUTTONS -----*/
button {
    text-align: center;
    margin: 20px 0;
    padding: 10px 60px;
    background-color: #7f8c8d;
    color: #fff;
    border: none;
    font-family: Raleway;
    font-weight: 300;
    font-size: 15px;
}

.signUp-btn {
    margin-right: 10px;
    text-align: left;
}

.logIn-btn {
    text-align: right;
}

.button-big {
    margin-top: 0;
    width: 100%;
    text-transform: uppercase;
    background-color: #1abc9c;
    font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 20px;
}

/*----- STYLES FOR BOTH BOX----*/
.logIn-box h2,
.signUp-box h2 {
    padding-top: 10px;
    margin-bottom: 30px;
    color: #fff;
}

.input-style {
    display: inline-block;
    background-color: transparent;
    color: #bdc3c7;
    border: 1px solid #bdc3c7;
    margin-bottom: 30px;
    padding-left: 8px;
    height: 35px;
    width: 100%;
    font-family: Raleway;
    font-weight: 300;
    font-size: 15px;
}

/*----- LOG IN BOX -----*/
form a {
    display: block;
    margin-bottom: 30px;
    color: #1abc9c;
    text-align: right;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
}

.password {
    margin-bottom: 5px;
}

/*----- SIGN UP BOX -----*/
.input-small {
    display: inline-block;
    width: 174px;
}

.first-small-input {
    margin-right: 8px;
}

.active-button {
    background-color: #1abc9c;
    font-weight: 700;
}

.hello {
    display: block;
    text-align: center;
    font-size: 200px;
    color: #fff;
}